<nav class="navigation left">
  <ul class="links">
    {{#foreach navigation}}
      <li class="nav-{{slug}}{{#if current}} nav-current{{/if}} {{#is "home"}}nav-current{{/is}}">
        <a href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}
  </ul>
</nav>
<nav class="navigation left">
  <ul class="links">
    <li class="nav-blog ">
      <a href="http://iveskins.github.io/#open" title="Carl Bernardo blog">Blog</a>
    </li>
      <li class="nav-about ">
        <a href="https://iveskins.github.io/2016/06/28/About.html">About</a>
      </li>
  </ul>
</nav>
